<head>
    <title>SWAPI Integration</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div>
        <h1>SWAPI INTEGRATION</h1>
        <p>May the --force be with you</p>
        <hr>
        <input style="width: 20%;" id="inputfield" type="text" placeholder="Insert the distance (MGLT).">
        <div class="wrapper">
            <a id="button" class="btn" href="#">Calculate</a>
        </div>
        <div class="response">
            <table id="response-table">
                <tbody id="response">
                    <!-- Populated by main.js -->
                </tbody>
            </table>
        </div>
        <h1></h1>
    </div>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <!-- Logic -->
    <script src="index.js"></script>
</body>
