@font-face {
    font-family: "Star Wars"; 
    src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/star-wars.woff);
  }

  body {
    font-family: 'Star Wars';
    display: grid;
    place-content: center;
    background-color: #001;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='210' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23664' fill-opacity='0.1'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: -100px -100px;
  }
  div {
    text-align: center;
  }
  h1 {
    font-size: 7em;
    color: gold;
    margin: 0.2em;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.01em;
    -webkit-text-stroke-color: gold;
  }
  p {
    font-size: 2em;
    color: white;
    margin: 0;
  }

a {
  text-decoration: none;
}

#response-table {
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

th {
    color: gold;
}

input{
 z-index: 1;
  padding: 0.8rem 1rem;
  width: 20%; /* THE WIDTH (%) */
  font-size: 18px;
  font-weight: 80;
  color: #333;
  border: none;
  outline: none;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
  -webkit-transition: color 0.3s, background 0.3s;
  transition: color .5s, background 0.3s;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.1));
} input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
} input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
} input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
} input::placeholder {
  color: rgba(255, 255, 255, 0.6);
} input:focus {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(55, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.1));
} input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
} input:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
} input:focus::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
} input:focus::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border-style: solid;
  border-width: 4px;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-repeat: stretch;
  border-image-width: 2;
  border-image-slice: 2;
  border-image-outset: 2;
  position: relative;
  display: inline-block;
  margin: 4px;
  padding: 10px 20px;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  color: white;
  background-color: red;
}

@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .btn {
    border-image-repeat: space;
  }
}

.btn::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  right: -4px;
  left: -4px;
  content: "";
  box-shadow: inset -4px -4px darkred;
}

.btn:focus::after,
.btn:hover::after {
  box-shadow: inset -6px -6px darkred;
}


